@font-face {
  font-family: "TT Hoves";
  src: url(../assets/fonts/TT\ Hoves\ Bold.otf);
}
body {
  font-family: "TT Hoves";
  background-color: #F3F2F8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  cursor: pointer;
}
.header__languages {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.header__languages p {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.41px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #323232;
  transition: color 0.6s ease;
}
.header__languages p:hover {
  color: #171717;
}
.header__languages p:after {
  content: "";
  position: absolute;
  bottom: -20%;
  right: 50%;
  transform: translateX(50%);
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: #343434;
  transition: width 0.6s ease;
}
.header__languages p:hover:after {
  width: 100%;
}
.header__languages p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.41px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: transparent;
  -webkit-text-stroke: 1px #C4C4C4;
}
.header__languages p:nth-child(2):hover {
  color: #e8e8ea;
}
.header__languages p:nth-child(2):hover:after {
  background-color: #b1b0b0;
}

.AIRTIGHT {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.AIRTIGHT h1 {
  position: absolute;
  top: 100%;
  width: 100%;
  font-size: 200px;
  font-weight: 700;
  line-height: 243.9px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
}
.AIRTIGHT .bubbles {
  position: absolute;
  top: -50px;
  left: 51%;
  transform: rotate(200deg);
}
.AIRTIGHT .bubbles2 {
  position: absolute;
  top: 350px;
  left: 20%;
  transform: rotate(-10deg);
}

.footer {
  margin-top: -35px;
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.footer .footer__icons {
  display: flex;
  gap: 20px;
}
.footer .footer__icons img {
  cursor: pointer;
}
.footer__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer__text p {
  font-size: 16px;
  font-weight: 700;
  line-height: 14.94px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #323232;
}
.footer__img {
  position: absolute;
  top: -100%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
}
.footer__img img {
  cursor: pointer;
}
.footer__img__bg {
  position: absolute;
  top: 90px;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #DADAE2;
}
.footer__img__bg__line {
  width: 30%;
  height: 4px;
  margin-left: 40%;
  border-radius: 10px;
  background-color: #A497F2;
}

.swiper {
  width: 100%;
  height: calc(100vh - 75.9px);
  z-index: 100;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .Nike {
  width: 53px;
  height: 19.8px;
  position: absolute;
  top: 27%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.swiper-slide h3 {
  position: absolute;
  top: 40%;
  left: 2%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.88px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #323232;
}

.swiper-slide img {
  margin-left: 15%;
  display: block;
  width: 900px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.glass {
  position: absolute;
  top: 55%;
  right: 24%;
  width: 140px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2.95px solid rgba(255, 255, 255, 0.6980392157);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.glass__text p {
  font-size: 22.11px;
  font-weight: 700;
  line-height: 27.53px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #323232;
}
.glass__text img {
  width: 12px;
  cursor: pointer;
}
.glass__text .vector {
  transform: rotate(180deg);
  margin-left: 0px;
  margin-right: 7px;
}

.swiper-pagination-bullets {
  position: absolute;
  top: 45% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #000000;
  border-radius: 50%;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: transparent;
  border: 2px solid #323232;
}/*# sourceMappingURL=style.css.map */